/* Estilo Global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
